@import "main.css";
.cases-info-section {
  width: 24vw;
  height: 100%;
  flex-direction: column;
  background: var(--dark-grey);
  color: white;
}
.cases-info-section-part-1 {
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 2rem;
}
.cases-info-section-part-1 h1 {
  font-weight: 500;
}
.calender {
  width: 20vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2rem;
}
.days {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.dates {
  width: 21em;
  align-items: center;
  justify-content: center;
  display: flex;
}
.dates ul {
  overflow-x: hidden;
  width: 100%;
  list-style: none;
  display: flex;
  transition: all 0.3s ease;
  padding-left: 0;
  border-radius: 50px;
  background: var(--light-grey);
  padding: 1rem 0;
  text-align: center;
}
.dates ul ul {
  width: 0%;
  list-style: none;
  display: flex;
  transition: all 0.3s ease;
  background: var(--light-grey);
  text-align: center;
  padding: 0;
  overflow: hidden;
}
.dates ul ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.dates ul:last-child {
  overflow-x: hidden;
  width: 100%;
  list-style: none;
  display: flex;
  transition: all 0.3s ease;
  background: var(--light-grey);
  text-align: center;
}

#left {
  transition: all 0.3s ease;
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
  outline: none;
  border: none;
  background: var(--light-grey);
  color: white;
  border: 0.5px solid var(--white-grey);
}
#right {
  transition: all 0.3s ease;
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
  outline: none;
  border: none;
  background: var(--light-grey);
  color: white;
  border: 0.5px solid var(--white-grey);
}

.cases-info-section-part-2 {
  width: 80%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.cases-info-pannel {
  width: 103%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--white-grey);
  border-radius: 5px;
  overflow: hidden;
}
.cases-info-pannel button {
  /* border: 1px solid var(--white-grey); */
  padding: 2em 3em;
  background: var(--light-grey);
  outline: none;
  color: var(--white-grey);
  border: none;
}

.cases-countries {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.countriesUL {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  justify-content: space-around;
}
.countriesUL li {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
}
.countriesUL li h1 {
  text-align: start;
  padding-right: 1rem;
  font-weight: 300;
  font-size: 1rem;
  color: var(--white-grey);
  text-align: start;
}
.countriesUL li p {
  font-weight: 300;
  font-size: 13px;
  color: var(--yellow);
}
.countriesUL li .flag {
  padding-right: 2rem;
}
.countriesUL li h3 {
  justify-self: end;
}
.cases-info-section-part-3 {
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.graph {
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#curve_chart {
  width: 25em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3em;
}
.added {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  height: 20%;
}
.added span {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: var(--yellow);
  display: block;
}
.added .added-heading {
  font-size: 15px;
  font-weight: 300;
}
.added .added-date {
  padding-left: 12px;
  font-size: 14px;
  font-weight: 300;
  color: var(--white-grey);
}
