@import "main.css";
/* Heading Section Start */

.map-section {
  width: 70vw;
  background: var(--light-grey);
}
.map-section-heading {
  width: 100%;
  height: 15vh;
  color: white;
  padding: 2em;
}
.map-section-heading h1 {
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 2em;
}
.map-section-heading h5 {
  font-weight: 300;
  color: var(--white-grey);
  font-size: 1rem;
  padding: 0.3rem;
}

/* Heading Section End */
/* Cases Section Start */

.map-section-cases {
  display: flex;
  justify-content: space-around;
  width: 95%;
  height: 15vh;
  align-items: center;
}
.msc {
  width: 4rem;
  height: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  align-content: space-around;
  justify-items: center;
  grid-column-gap: 10px;
  color: white;
}
.msc i {
  grid-row-start: 1;
  grid-row-end: 3;
  font-size: 1.3em;
  padding: 0.5em;
  border-radius: 5px;
  align-self: center;
}
.msc h5 {
  margin-right: 100px;
  font-size: 0.7rem;
}
.msc .flagGen {
  grid-row-start: 1;
  grid-row-end: 3;
  font-size: 1.3em;
  padding: 0.7em;
  border-radius: 5px;
  align-self: center;
}
.msc .flagGen i {
  font-size: 1.3em;
  padding: 0.3em;
}
.msc .flagGen img {
  width: 48px;
  height: 32px;
}
.countries img {
  grid-row-start: 1;
  grid-row-end: 3;
  font-size: 1.3em;
  padding: em;
  border-radius: 5px;
  align-self: center;
}
.msc p {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 0.8em;
  color: var(--white-grey);
}
.msc h2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 1.4rem;
}
.msc h5 {
  grid-row-start: 1;
  grid-row-end: 3;
  font-weight: 300;
  color: var(--yellow);
}
.infected-logo {
  background: rgb(182, 31, 31);
}
.virus-logo {
  background: var(--yellow);
}
.skull-logo {
  background: var(--white-grey);
}
.plus-logo {
  background: rgb(11, 196, 181);
}
.country-logo {
  background: rgb(129, 68, 187);
}
/* Cases Section End */
/* Map Section */
.map-section-map {
  width: 100%;
  height: 70vh;
}
.map-section-map .map {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 20;
}
.map-dots {
  position: absolute;
  width: 70%;
  height: 70%;
  align-items: center;
  justify-content: space-around;
  display: flex;
  align-self: center;
  z-index: 0;
  bottom: -1%;
  left: 12%;
  overflow: hidden;
}
.map {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.map-section-map .map svg {
  width: 100%;
  height: 100%;
  fill: transparent;
}
.map-section-map .map svg path {
  stroke: var(--white-grey);
  stroke-width: 0.4px;
  position: relative;
  z-index: 20;
  fill: transparent;
}
.map-section-map .map svg path:hover {
  fill: var(--yellow);
  transition: all 0.5s ease;
}
.map-section-buttons {
  position: absolute;
  bottom: 5%;
  left: 20%;
  z-index: 600;
}
.map-section-buttons button {
  width: 3.5em;
  height: 3.5em;
  border-radius: 2px;
  background: var(--dark-grey);
  color: white;
  border: none;
  outline: none;
  font-size: 1em;
}
.search-modal {
  display: none;
}
.search-modal-new {
  width: 80vw;
  height: 80vh;
  background-color: #0000009d;
  backdrop-filter: blur(5px);
  position: absolute;
  z-index: 1050;
  top: 10vh;
  display: flex;
  color: white;
  align-items: flex-end;
  justify-content: space-around;
}
.searchBarModal {
  position: relative;
  bottom: 65vh;
  left: -30vw;
}
.closeModal {
  position: relative;
  bottom: 75vh;
  left: -2vw;
}
.searchCountryBtn {
  position: relative;
  bottom: 5vh;
  right: 38vw;
}
.search-modal ul {
  position: relative;
  width: 80%;
  height: 60%;
  left: 7vw;
  top: -5vw;
  list-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
.search-modal ul li {
  position: relative;
  background: #2b2a2a8a;
  backdrop-filter: blur(3px);
  width: 100%;
  height: 30px;
  font-size: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
@media only screen and (max-width: 600px) {
  .map-section {
    width: 100vw;
    height: 100%;
  }
  .search-modal {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    position: relative;
    top: 20%;
    display: none;
  }
  .search-modal-new {
    width: 80vw;
    height: 80vh;
    background-color: #0000009d;
    backdrop-filter: blur(5px);
    position: absolute;
    z-index: 1050;
    top: 10vh;
    display: flex;
    color: white;
    align-items: flex-end;
    justify-content: space-around;
  }
  .map-section-heading {
    position: relative;
    top: 0%;
    left: 0;
    background: black;
    width: 100vw;
    height: 100px;
  }
  .map-section-heading h1 {
    color: white;
    font-size: 3vh;
  }
  .closeModal {
    display: none;
  }
  .map-section-cases {
    display: grid;
    width: 100vw;
    height: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
    text-align: center;
  }
  .msc {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  .msc i {
    font-size: 1.2em;
    border-radius: 5px;
    align-self: center;
  }
  .msc h5 {
    margin-right: 0;
    font-size: 0.7rem;
  }
  .countries {
    position: relative;
    left: 50%;
  }

  .map-section-map {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .map-dots {
    all: unset;
    position: absolute;
    top: 20%;
    z-index: 5;
  }
  .map-dots svg {
    width: 100%;
    height: 100%;
  }
  .map {
    position: relative;
    overflow: scroll;
  }
  .map svg {
    width: 100%;
    height: 100%;
  }
}
